
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


/* landing page */
.navbar-brand {
    color: #1EC6B5;
}
.nav-link {
    color: #1EC6B5;
}
.logo-image {
    width: auto;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 0%;
    padding-left: 20px;
}
.nav-font {
    font-family: cinzel decorative, sans-serif;
}
body {
    background-color: #b5b5b5;
}
.c-hero {
    filter: brightness(60%);
}
.card-text {
    font-size: small;
}
.txt-box {
    color: #1EC6B5;
    background-color: rgb(11, 9, 9);
}
/* landing page */

/* attractions */

.d-block w-100 {
  width: 100%;
  height: 50vh;
}

/* attractions */

/* quiz.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9FA;
    margin: 0;
    padding: 0;
}
.nav-font {
    font-family: cinzel decorative, sans-serif;
}
.navbar-brand {
    color: #1EC6B5;
}
.nav-link {
    color: #1EC6B5;
}
.header-1 {
    background-color: aquamarine;
}
.mb-3 {
    padding-top: 30px;
    font-family: cinzel decorative, sans-serif;
}
.quiz-container {
    width: 60%;
    margin: 50px auto;
    background-color: rgb(230, 201, 201);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.question {
    font-size: 18px;
    margin: 20px 0;
}
.answers {
    list-style: none;
    padding: 0;
}
.answers li {
    margin: 10px 0;
}
.answers input {
    margin-right: 10px;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.submit-btn:hover {
    background-color: #1EC6B5;
}
.result {
    display: none;
    text-align: center;
    margin-top: 20px;
}
/* quiz.css */

/* map.css */
body {
    margin: 0;
}

#map {
    height: 80vh;
    width: 100vw;
}
.info-bar {
    background-color: #f8f9FA;
    padding-top: 5px;
    color: #4e1ec6;
}
/* map.css */




